doctype html
html(lang="ru")
	head
		title MyRelationship.ru - Узнай кто кому кем является!
		link(type='text/css', rel='stylesheet', href='styles/normalize.css')
		link(type='text/css', rel='stylesheet', href='styles/style.css')
		script(src='scripts/jquery-2.1.4.min.js')
		script(src='scripts/jquery.cookie.js')
		script(src='scripts/script.js')
		link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')
		meta(name='viewport', content='width=device-width')
		meta(charset='utf-8')
	body
		#wrap 
			#center-block
				#welcome_text
					span Привет!
					span MyRelationship.ru - поможет быстро узнать кто кому кем приходится.
				#search
					div.logo.icon
					input(type="text", name="whois", placeholder="Кто кому кем приходится?")
					a(class="button check") Старт!
				#answer
					div#icon_answer.icon
					span(class="answer mother-in-law") Тёща — мать жены
					span(class="answer father-in-law") Тесть — отец жены
					span(class="answer unknown") Такого кажется нет :(
					.clear
					a(class="button try-again") Еще...


