doctype html
html(lang="ru")
	head
		title MyRelationship.ru - Узнай кто кому кем является!
		link(type='text/css', rel='stylesheet', href='/styles/normalize.css')
		link(type='text/css', rel='stylesheet', href='/styles/style.css')
		script(src='scripts/jquery-2.1.4.min.js')
		script(src='scripts/jquery.cookie.js')
	body