doctype html
html(lang="ru")
	head
		title MyRelationship.ru - Мои Родственные Связи - Узнай кто кому кем является!
		link(type='text/css', rel='stylesheet', href='styles/normalize.css')
		link(type='text/css', rel='stylesheet', href='styles/style.css')
		link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')
		script(src='scripts/jquery-2.1.4.min.js')
		script(src='scripts/jquery.cookie.js')
		script(src='scripts/script.js')
		meta(name='viewport', content='width=device-width')
		meta(charset='utf-8')
	body
		#wrap 
			#center-block
				div.gear
				#welcome_text
					span Привет!
					span MyRelationship.ru - поможет быстро узнать кто кому кем приходится.
				#search
					div.logo.icon
					input(type="text", name="whois", placeholder="Кто кому кем приходится?")
					a(class="button check") Старт!
				#answer
					div#icon_answer
					span(class="answer span-1") Тёща — мать жены
					span(class="answer span-2") Тесть — отец жены
					span(class="answer span-3") Бабушка — мать отца или матери, жена деда

					span(class="answer span-4") Брат - сын в отношении к другим детям одних родителей
					span(class="answer span-5") Брат крестный — сын крестного отца 
					span(class="answer span-6") Брат крестовый, брат по кресту, названый брат — лица, обменявшиеся нательными крестами 
					span(class="answer span-7") Братан, брательник — двоюродный брат
					span(class="answer span-8") Братанич — племянник по брату
					span(class="answer span-9") Братаниха — жена двоюродного брата
					span(class="answer span-10") Братанна — дочь брата, племянница по брату
					span(class="answer span-11") Брательница — родственница двоюродная или дальняя
					span(class="answer span-12") Братова — жена брата
					span(class="answer span-13") Братыч — сын брата, племянник по брату

					span(class="answer span-14") Род — ряд поколений, происходящих от одного предка, а также вообще поколение
					span(class="answer span-15") Родители — отец и мать по отношению к детям 
					span(class="answer span-16") Родитель — то же, что и отец 
					span(class="answer span-17") Родительница — то же, что и мать
					span(class="answer span-18") Родной — происходящий от одних родителей См кровный, полнородный 
					span(class="answer span-19") Родня — родственники 
					span(class="answer span-20") Родоначальник — первый известный представитель рода, от которого он ведет начало 
					span(class="answer span-21") Родословие — то же, что генеалогия 
					span(class="answer span-22") Родословная — перечень поколений одного рода, устанавливающий происхождение и степени родства 
					span(class="answer span-23") Родственник — тот, кто находится в родстве с кем-нибудь 
					span(class="answer span-24") Родство — отношение между людьми, создаваемое наличием общих ближайших родственников

					span(class="answer span-25") Вдова — женщина, не вступившая во второй брак после смерти мужа
					span(class="answer span-26") Вдовец — мужчина, не вступивший во второй брак после смерти жены 
					span(class="answer span-27") Великая тетка — сестра деда или бабки (двоюродная бабка) 
					span(class="answer span-28") Великий дядя — брат деда или бабки 
					span(class="answer span-29") Ветвь — линия родства 
					span(class="answer span-30") Внук — сын сына или дочери, сыновья племянника или племянницы 
					span(class="answer span-31") Внучатая двоюродная племянница — внучка двоюродного брата или сестры
					span(class="answer span-32") Внучатая племянница — внучка брата или сестры (троюродная племянница) 
					span(class="answer span-33") Внучатый, внучатный — являющийся родственником в третьем колене, троюродный 
					span(class="answer span-34") Внучатые братья и сестры — троюродные братья и сестры
					span(class="answer span-35") Внучатый двоюродный племянник — внук двоюродного брата или сестры
					span(class="answer span-36") Внучатый племянник — внук брата или сестры
					span(class="answer span-37") Внучатый троюродный племянник — внук троюродного брата или сестры (троюродный племянник) 
					span(class="answer span-38") Внучка, внука — дочь сына или дочери, племянника или племянницы

					span(class="answer span-39") Двоюродная бабушка — сестра бабушки или деда 
					span(class="answer span-40") Двоюродная прабабушка — сестра прабабушки или прадеда 
					span(class="answer span-41") Двоюродная прапрабабушка — сестра прапрабабушки или прапрадеда 
					span(class="answer span-42") Двоюродная племянница — дочь двоюродного брата или сестры 
					span(class="answer span-43") Двоюродная сестра — дочь дяди или тетки 
					span(class="answer span-44") Двоюродная тетка — двоюродная сестра отца или матери 
					span(class="answer span-45") Двоюродный — состоящий в родстве во втором колене 
					span(class="answer span-46") Двоюродный брат — сын дяди или тетки 
					span(class="answer span-47") Двоюродный дед — брат деда или бабушки 
					span(class="answer span-48") Двоюродный дядя — двоюродный брат отца или матери 
					span(class="answer span-49") Двоюродный племянник — сын двоюродного брата или сестры 
					span(class="answer span-50") Двоюродный прадед — брат прадеда или прабабушки 
					span(class="answer span-51") Двоюродный прапрадед — брат прапрадеда или прапрабабушки 
					span(class="answer span-52") Деверь — брат мужа 
					span(class="answer span-53") Дед, дедушка — отец отца или матери 
					span(class="answer span-54") Дед крестный — отец крестного отца 
					span(class="answer span-55") Дедина, дедка — тетка по дяде 
					span(class="answer span-56") Дедич — прямой наследник по деду 
					span(class="answer span-57") Дочь — лицо женского пола по отношению к своим родителям 
					span(class="answer span-58") Дочь названая — приемыш, воспитанница 
					span(class="answer span-59") Дщерич — племянник по тетке 
					span(class="answer span-60") Дщерша — племянница по тетке 
					span(class="answer span-61") Дядька — человек, ухаживающий за ребенком 
					span(class="answer span-62") Дядя — брат отца или матери, а также муж тетки 

					span(class="answer unknown") Такого кажется нет :(
					.clear
					a(class="button try-again") Еще...
				#settings
					a(href="http://smitevils.ru/" target="_blank") Сделал SmiteVils...


