/*Сочетания цветов - http://colorscheme.ru/#0441TnAt7w0w0*/
body {background: #39ceff; font-family: 'PT Sans', sans-serif; color: #fff;}
.clear {clear: both;}
#wrap {display: table; position: fixed; width: 100%; height: 100%;}
#center-block {
	display: table-cell;
	width: 100%;height: 100%;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
	#welcome_text {
		span {
			padding: 20px;
			display: block;
			opacity: 0; 
			-webkit-transition: opacity 1s;
			-o-transition: opacity 1s;
			transition: opacity 1s;
		}
		span:nth-child(1) {font-size: 120px;}
		span:nth-child(2) {font-size: 40px; display: none;}
	}
}

#search {
	display: none;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
#answer {
	display: none; opacity: 0;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

div.icon {
	width: 200px; height: 200px; margin: 0 auto;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
div.logo {
	background: url(../img/logo_opacity.png) no-repeat center;
	background-size: 100% 100%;
}

div.icon-mother-in-law {
	background: url(../img/icon_1.png) no-repeat center;
	background-size: 100% 100%;
}
div.icon-father-in-law {
	background: url(../img/icon_2.png) no-repeat center;
	background-size: 100% 100%;
}
div.icon-grandmother {
	background: url(../img/icon_3.png) no-repeat center;
	background-size: 100% 100%;
}

div.icon_unknown {
	background: url(../img/icon_unknown.png) no-repeat center;
	background-size: 100% 100%;
}


input {
	border: 1px solid transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	outline: none; color: #000;
	width: 300px;
	padding: 10px 20px;
	margin: 30px 0;
	text-align: center;
}

a.button {
	cursor: pointer;
	text-decoration: none;
	margin: 0 10px;
	border: 1px solid transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 20px;
	font-weight: bold;
	background-color: #3498DB;
	outline: none;
	&:hover {background-color: #03548B;}
}

span.answer {
	display: none;
	padding: 20px;
	font-size: 26px;
}

@media screen and (max-width: 600px) {
	#center-block {
		#welcome_text {
			span:nth-child(1) {font-size: 40px;}
			span:nth-child(2) {font-size: 26px;}
		}
	}
	a.button { margin: 10px;}
	//div.logo {width: 200px; height: 200px;}
	input {width: 200px;}
}
