/*Сочетания цветов - http://colorscheme.ru/#0441TnAt7w0w0*/
body {background: #39ceff; font-family: 'PT Sans', sans-serif; color: #fff;}
.clear {clear: both;}
#wrap {display: table; position: fixed; width: 100%; height: 100%;}
#center-block {
	display: table-cell;
	width: 100%;height: 100%;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
	#welcome_text {
		span {
			padding: 20px;
			display: block;
			opacity: 0; 
			-webkit-transition: opacity 1s;
			-o-transition: opacity 1s;
			transition: opacity 1s;
		}
		span:nth-child(1) {font-size: 120px;}
		span:nth-child(2) {font-size: 40px; display: none;}
	}
}

.gear {
	position: absolute;
	top: 20px; right: 20px;
	display: none;
	opacity: 0;
	width: 32px; height: 32px;
	background: url(../img/gear_64.png) no-repeat center;
	background-size: 100% 100%;
	cursor: pointer;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	&:hover {opacity: 1!important;}
	&:active {opacity: 1!important;}
}

#search {
	display: none;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
#answer {
	display: none; opacity: 0;
	padding: 0 300px;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
#settings {
	width: 260px; margin: 0 auto;
	display: none; opacity: 0; 
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	a {
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
	}
}

div.icon {
	width: 200px; height: 200px; margin: 0 auto;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

#icon_answer {
	width: 150px; height: 150px; margin: 0 auto;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

div.logo {
	background: url(../img/logo_opacity.png) no-repeat center;
	background-size: 100% 100%;
}

.icon-1 {background: url(../img/icon_1.png) no-repeat center;background-size: 100% 100%;}
.icon-2 {background: url(../img/icon_2.png) no-repeat center;background-size: 100% 100%;}
.icon-3 {background: url(../img/icon_3.png) no-repeat center;background-size: 100% 100%;}
.icon-4 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-5 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-6 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-7 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-8 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-9 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-10 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-11 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-12 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-13 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}

.icon-14 {background: url(../img/logo.png) no-repeat center;background-size: 100% 100%;}
.icon-15 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-16 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-17 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-18 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-19 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-20 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-21 {background: url(../img/logo.png) no-repeat center;background-size: 100% 100%;}
.icon-22 {background: url(../img/logo.png) no-repeat center;background-size: 100% 100%;}
.icon-23 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-24 {background: url(../img/logo.png) no-repeat center;background-size: 100% 100%;}

.icon-25 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-26 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-27 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-28 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-29 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-30 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-31 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-32 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-33 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-34 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-35 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-36 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-37 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-38 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}

.icon-39 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-40 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-41 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-42 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-43 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-44 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-45 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-46 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-47 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-48 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-49 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-50 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-51 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-52 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-53 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-54 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-55 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-56 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-57 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-58 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-59 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-60 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-61 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-62 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-63 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-64 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-65 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}

.icon-66 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-67 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-68 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}

.icon-69 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-70 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}

.icon-71 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-72 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-73 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-74 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-75 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-76 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-76 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-78 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-79 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-80 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-81 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}

.icon-82 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-83 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-84 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-85 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-86 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-87 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-87 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-89 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-90 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-91 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-92 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}

.icon-93 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-94 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}

.icon-95 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-96 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-97 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-98 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-99 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-100 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-101 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-102 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}
.icon-103 {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}

.icon_unknown {background: url(../img/icon_unknown.png) no-repeat center;background-size: 100% 100%;}


input {
	border: 1px solid transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	outline: none; color: #000;
	width: 300px;
	padding: 10px 20px;
	margin: 30px 0;
	text-align: center;
}

a.button {
	cursor: pointer;
	text-decoration: none;
	margin: 0 10px;
	border: 1px solid transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 20px;
	font-weight: bold;
	background-color: #3498DB;
	outline: none;
	&:hover {background-color: #03548B;}
}

span.answer {
	display: none;
	padding: 20px;
	font-size: 26px;
}

@media screen and (max-width: 600px) {
	#center-block {
		#welcome_text {
			span:nth-child(1) {font-size: 40px;}
			span:nth-child(2) {font-size: 26px;}
		}
	}
	a.button { margin: 10px;}
	//div.logo {width: 200px; height: 200px;}
	input {width: 200px;}
	#answer {
		padding: 0;
		span {font-size: 18px;}
	}
}
